<!DOCTYPE html5>
<html>

<head>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <h1> Add player page </h1>
    <form action="/player/add" method="post">
        <input type="text" name="Player_First_Name" placeholder="player first name" />
        <input type="text" name="Player_Last_Name" placeholder="player last name" />
        <input type="text" name="Player_Gender" placeholder="player gender" />
        <input type="text" name="Player_Nationality" placeholder="player Nationality" />
        <input type="text" name="Player_ATP_Rank" placeholder="player ATP rank" />
        <input type="submit" value="add player" />
    </form>

    <body>



</html>
